* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
}

.container {
	max-width: 1280px;
	margin: 0 2%;
	width: 98%;
}
.w30{
	width: 32%;
	display: inline-block;
}

.portfolio__header {
	width: 100%;
	height: 110px;
	background-color: white;
	box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,.05);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	transition: height .4s ease;

}
.portfolio__header--scrolled {
	height: 90px;
}

.portfolio__header--is-active {
	position: fixed;
}

.portfolio__header_logo {
	font-size: 13px;
	margin-left: 20px;
}

.menu__toggle {
	width: 50px;
	height: 50px;
	position: relative;

}
.menu__toggle__item {
	width: 80%;
	height: 5px;
	border-radius: 3px;
	background-color: black;
	position: absolute;
	transition: all .4s cubic-bezier(.25,.1,.61,1.39);
}

.menu-goggle__item--active .item__order__1 {
	transform: rotate(45deg);
	top: 50%;
}
.menu-goggle__item--active .item__order__2 {
	transform: rotate(-45deg);
	top: 50%;
}
.menu-goggle__item--active .item__order__3 {
	transform: rotate(45deg);
	top: 50%;
}

.item__order__1 {
	top: 30%;
}
.item__order__2 {
	top: 50%;
}
.item__order__3 {
	top: 70%;
}


.portfolio__header__navigation {
	z-index: 4;
    position: fixed;
    top: 90px;
    transition: all ease .7s;
    width: 100%;
    height: calc(100vh - 90px);
    background-color: white;
    left: -400%;
    border-top: 2px solid #ccc;
}
.portfolio__header__navigation--active {
	left: 0;
}


.portfolio__header__navigation__list__item {
	padding: 20px 0;
	border-bottom: 1px solid #ccc;
	padding-left: 20px;
	cursor: pointer;
}

.portfolio__header__menu-toggle {
	padding: 20px;
	padding-right: 10px;
	font-size: 28px;
}

.portfolio__index {
	width: 100%;
	height: calc(100vh - 90px);
	background: url("../img/index.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-top: 90px;
}

.portfolio__index__shadow {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	display: flex;
	justify-content: center;
	align-items: center;

}

.portfolio__index__shadow__form {
	width: 100%;
	height: auto;
	text-align: center;
}

.portfolio__index__shadow__form__hat {
	font-size: 25px;
	color: #fff;
}

.portfolio__index__shadow__form__email_value {
	display: inline-block;
	width: 100%;
	padding: 20px 0;
	font-size: 23px;
	margin-top: 25px;
	border: none;
}


.portfolio__index__shadow__form__submit {
	padding: 20px 50px;
	text-decoration: none;
	background-color: white;
	color: #000;
	margin-top: 25px;
	border: none;
	font-size: 15px;
	border-radius: 3px;
	text-transform: uppercase;
	display: inline-block;
}

@media(min-width: 992px) {
	.container {
		margin: 0 15px;
	}
}

.portfolio__about {
	width: 100%;
	height: auto;
}

.portfolio__about__hat {
	text-align:center;
	margin: 15px 0;
	font-size: 19px;
}

.portfolio__about__text {
	font-size: 18px;
}

.portfolio__about__photo {
	margin-top: 20px;
	text-align: center;
}
.portfolio__about__photo img{
	width: 70%;
	border-radius: 100%;
}

.portfolio__specialties__list{
	margin: 30px 0;
}
.portfolio__specialties__list__item {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.portfolio__specialties__list__item__hat {
	font-size: 25px;
}
.portfolio__specialties__list__item > i {
	font-size: 25px;
	margin-top: 10px;
}

.portfolio__services__container {
	margin-top: 10px;
}

.portfolio__services__container__hat {
	text-align: center;
	font-size: 17px;
	margin-top: 20px;

	
}

.portfolio__services__container__title {
	margin-top: 10px;
	font-size: 18px;
}


.portfolio__services__container__hat:nth-child(1) {
	margin-top: 10px;
}

.portfolio__services__list {
	margin-top: 10px;
}

.portfolio__services__list__item {
	text-decoration: none;
	font-size: 18px;
	margin-top: 10px;
	text-indent: 20px;
}
.portfolio__services__list__item:nth-child(1) {
	margin-top: 0;
}

.portfolio__footer {
	width: 100%;
	background-color: #FAFAFA;
	height: 50px;
	border-top: 1px solid #ccc;
	margin-top: 10px;
}
.portfolio__footer__text {
	margin: 40px 0;
	text-align: center;
}